body, html{
    height: 100%;
}

.add-form {
    border-radius: 15px
}

.login-bg {
    background-image: url("login-bg.webp");
    background-size: cover;
    height: 91.6%;
}

.newform-bg{
    background-color: #e2e2e2;
    height: 91.6%;
}

/*body * {
    border: 1px solid black
}*/